MYSQL_HOST=db.isba.co
MYSQL_PORT=3306
MYSQL_USER=analyst
MYSQL_PASSWORD=your_mysql_password_here
MYSQL_DATABASE=basket_craft

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=pipeline
POSTGRES_PASSWORD=pipeline
POSTGRES_DATABASE=basket_craft

RDS_HOST=your_rds_host_here
RDS_PORT=5432
RDS_USER=your_rds_user_here
RDS_PASSWORD=your_rds_password_here
RDS_DATABASE=basket_craft

SNOWFLAKE_ACCOUNT=your_account_identifier_here
SNOWFLAKE_USER=your_snowflake_username_here
SNOWFLAKE_PASSWORD=your_snowflake_password_here
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=basket_craft_wh
SNOWFLAKE_DATABASE=basket_craft
SNOWFLAKE_SCHEMA=raw
